
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Ali Electronics</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/images/O.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/O.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        $(function (){
            $("#searchTxtBox").autocomplete({
                source: '@Url.Action("GetProducts","Product1")'
            });
        });
    </script>

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> 061-4510355</a></p>
                    </div>
                    <div class="our-link">
                        <ul>

                            @if (Session["user"] == null)
                            {

                                <li>@Html.ActionLink("Login", "Login", "User")</li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Logout","User")">Logout</a></li>
                                <li><a href="">@Session["user"]</a></li>
                            }


                            <li><a href="@(Session["user"] != null ? Url.Action("Index", "Customer") : Url.Action("Login", "User"))">My Account</a></li>

                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "HomePage" )"><img src="~/Content/images/logo.png" class="logo" alt="" height="60" width="160"></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">

                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "HomePage" )">Home</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("AboutUs", "HomePage" )">About Us</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
                            <ul class="dropdown-menu megamenu-content " role="menu">

                                <div class="row col">
                                    @{ FinalProject.Models.ApplicationDbContext db = new FinalProject.Models.ApplicationDbContext();

                                        Dictionary<string, List<string>> navbar = new Dictionary<string, List<string>>();
                                        Dictionary<string, List<string>> brands = new Dictionary<string, List<string>>();

                                        List<FinalProject.Models.Category> Categories = db.tbl_Category.ToList();

                                        foreach (FinalProject.Models.Category cat in Categories)
                                        {
                                            List<string> subCat = db.tbl_Subcategory.Where(x => x.categoryid == cat.id).Select(x => x.name).ToList();
                                            navbar.Add(cat.name, subCat);

                                            foreach (FinalProject.Models.Subcategory sub in db.tbl_Subcategory.Where(x => x.categoryid == cat.id).ToList())
                                            {
                                                List<string> subBrand = db.tbl_Brand.Where(x => x.subcategoryid == sub.id).Select(x => x.name).ToList();
                                                brands.Add(sub.name, subBrand);
                                            }
                                        }

                                        int count = 0;
                                        foreach (KeyValuePair<string, List<string>> nav in navbar)
                                        {
                                            if (count < 8)
                                            {
                                            <li class="col">
                                                <a href="#">@nav.Key<span class="caret"></span></a>
                                                <ul class="dropdown-submenu font-weight-bold">
                                                    <hr />
                                                    @foreach (var subNav in nav.Value)
                                                    {
                                                        <li class="text-primary">
                                                            <a href="@Url.Action("GetProductsByCategory","Product1", new { categoryName = subNav.Trim()})">@subNav.Trim()</a>
                                                            @if (brands.ContainsKey(subNav))
                                                            {
                                                                <ul class="dropdown-submenu font-weight-normal">
                                                                    <hr />
                                                                    Brand
                                                                    <hr />
                                                                    @foreach (var brand in brands[subNav])
                                                                    {
                                                                        <li class="text-primary">
                                                                            <a href="@Url.Action("GetProductsByBrand","Product1", new { subcategoryName = subNav.Trim(), brandName = brand.Trim() })">@brand.Trim()</a>
                                                                        </li>
                                                                        <hr />
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                            count++;
                                        }
                                    }

                                    }
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@(Session["user"] != null ? Url.Action("Index", "Cart") : Url.Action("Login", "User"))">
                                            My Cart @if (@ViewBag.NoOfItem > 0)
                                            {<text>(@ViewBag.NoOfItem)</text>}
                                        </a>
                                    </li>

                                    <li>
                                        <a href="@(Session["user"] != null ? Url.Action("Index", "WishList") : Url.Action("Login", "User"))">
                                            Wishlist @if (@ViewBag.WlItemsNo > 0)
                                            {<text>(@ViewBag.WlItemsNo)</text>}
                                        </a>
                                    </li>

                                </ul>
                            </li>
                    
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <!--<li class="side-menu">
                            <a href="#">-->
                                @*<i class="fa fa-shopping-bag"></i>*@
                                <!--<span class="badge">-->@*@(ViewBag.NoOfItem==null ? 0 :ViewBag.NoOfItem)*@<!--</span>
                            </a>
                        </li>-->
                    </ul>
                </div>
                    <!-- End Atribute Navigation -->
             </div>
                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    @*<li class="cart-box">
                        <ul class="cart-list">

                            @if (Session["user"] != null)
                            {
                                Html.RenderPartial("_Cart");
                            }
                        </ul>
                    </li>*@
                </div>
                <!-- End Side Menu -->
            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Main Top -->
        <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <form action="@Url.Action("Search","Product1")" method="get">
                    <input type="text" class="form-control" placeholder="Search" name="product" id="searchTxtBox">
                    <span class="input-group-addon close-search">
                        <i class="fa fa-times"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>

        <!-- End copyright  -->

        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
        <script src="~/Content/js/jquery-3.2.1.min.js"></script>
        <script src="~/Content/js/popper.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="~/Content/js/jquery.superslides.min.js"></script>
        <script src="~/Content/js/bootstrap-select.js"></script>
        <script src="~/Content/js/inewsticker.js"></script>
        <script src="~/Content/js/bootsnav.js"></script>

        <script src="~/Content/js/images-loded.min.js"></script>
        <script src="~/Content/js/isotope.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/baguetteBox.min.js"></script>
        <script src="~/Content/js/form-validator.min.js"></script>
        <script src="~/Content/js/contact-form-script.js"></script>
        <script src="~/Content/js/custom.js"></script>
        @RenderBody()
    </body>

</html>