@model FinalProject.Models.Vouchers
    @{
        ViewBag.Title = "New";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @using (Html.BeginForm("Create", "Vouchers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="wrapper">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Create Vouchers</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Vouchers</a></li>
                                    <li class="breadcrumb-item active">New</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <div class="card">


                                    <div class="card-header">
                                        <button type="button" class="btn float-right btn-info shiny" onclick="window.location='@Url.Action("Index", "Vouchers")'"><i class="btn-label glyphicon glyphicon-plus"></i>View List</button>
                                        <h3 class="card-title"></h3>
                                    </div>

                                    <div class="card-body">
                                        <div class="row ">
                                            <div class="col-md-5 mx-5 my-2">
                                                <b>UserName</b>
                                                @Html.DropDownListFor(m => m.userid, ViewBag.userid as SelectList, "Select User", new { @class = "form-control fs-4" })
                                            </div>
                                            <div class="col-md-5 mx-5 my-3">
                                                <b>Date From</b>
                                                @Html.TextBoxFor(m => m.Startdate, new { @class = "form-control input-xs", id = "date", type = "date", @Value = DateTime.Today.ToString("yyyy-MM-dd") })
                                            </div>

                                            <br />
                                            <div class="col-md-5 mx-5 my-3">
                                                <b>Date To</b>
                                                @Html.TextBoxFor(m => m.Expiredate, new { @class = "form-control input-xs", id = "date", type = "date", @Value = DateTime.Today.ToString("yyyy-MM-dd") })
                                            </div>
                                            <br />
                                            <div class="col-md-5 mx-5 my-3">
                                                <b>Voucher Code</b>
                                                @Html.TextBoxFor(m => m.code, new { @class = "form-control input-xs", required = "required" })
                                            </div>
                                            <br />
                                            <div class="col-md-5 mx-5 my-3">
                                                <b>Discount</b>
                                                @Html.TextBoxFor(m => m.discount, new { @class = "form-control input-lg", required = "required" })
                                            </div>
                                        </div>

                                        <div>
                                            <div class="col-sm-3 mx-5 my-3">

                                                <button type="submit" class="btn btn-outline-success my-2 "><i class="fas fa-save"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    }
